﻿<html ng-app="app" ng-controller="mainController as appController">
	<head>
		<meta charset="utf-8">
		<title>Malana</title>

		<!-- Styles -->
		<link rel="stylesheet" href="styles/page.css"/>
		<link rel="stylesheet" href="styles/header.css"/>
		<link rel="stylesheet" href="styles/left-panel.css"/>
		<link rel="stylesheet" href="styles/menu.css"/>
		<link rel="stylesheet" href="styles/tasks.css"/>
		<link rel="stylesheet" href="styles/common.css"/>

		<!-- Libs -->
		<script src="scripts/libs/angular.min.js" type="text/javascript"></script>
		<script src="scripts/libs/angular-ui-router.min.js" type="text/javascript"></script>

		<!-- Angular app -->
		<script src="scripts/build/js/app.js" type="text/javascript"></script>
	</head>
	<body style="margin: 0; overflow-x: hidden;">
		<div class="header">
			<app-header ng-if="appController.isAppHeaderVisible()"></app-header>
		</div>
		<div class="left-panel" >
			<menu></menu>
		</div>
		<div class="page">
			<div ui-view></div>
		</div>
	</body>
</html>