<div class='menu'>
	<div class="menu-title">
		<b>Menu:</b>
	</div>
	<div class="menu-items">
		<div class="menu-item-wrapper" ng-repeat="link in pages">
			<a class="menu-item" href={{link.url}}>{{link.name}}</a><br>
		</div>
	</div>
</div>