<div class="welcome-page">
	<h2>Hello {{username}}! <span ng-show="countTasks > 0">You have {{countTasks}} tasks in your storage</span></h2>
	<input type="text" ng-model="username" placeholder="Enter your name here" ng-change="changeUserName()" autofocus>
</div>