.header {
	min-height: 30px;
	background-color: rgba(133, 255, 54, 0.9);
}

a.header-title {
    display: inline-block;
    margin: 5px;
    font-family: serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    color: #5F1FB1;
}

a.header-title:hover {
    box-shadow: inset 0px 0px 8px 9px rgba(0, 0, 0, 0.2), 0px 0px 19px 6px rgba(0, 0, 0, 0.25);
}

span.header-username {
    float: right;
    display: inline-block;
    margin: 5px 16px 0px 0px;
    font-family: serif;
    font-style: italic;
    font-weight: bold;
}